@use "sass:map";
@import "mixins";

.landing {

  color: map.get($colors, font-color);
  padding: 40px 220px 180px 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &_text {
    &--header {
      font-family: 'Libre Baskerville', serif;
      font-size: 2.8rem;
      font-weight: bolder;
      letter-spacing: 0.3rem;
      line-height: 3.2rem;
    }

    &--paragraph {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.13rem;
      line-height: 2.2rem;
    }

    .btn {
      @include button();
      margin-left: 7rem;
      margin-top: 1rem;
    }
  }

  .photo {
    height: 669px;
  }
}

