@use "sass:map";
@import "mixins";

.landing {
  color: map.get($colors, font-color);
  padding: 110px 220px 90px 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &_text {
    &--header {
      font-family: "Libre Baskerville", serif;
      font-size: 2.8rem;
      font-weight: bolder;
      letter-spacing: 0.3rem;
      line-height: 3.2rem;
    }

    &--paragraph {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8rem;
      letter-spacing: 0.13rem;
      line-height: 2.2rem;
    }

    .paragraph-two {
      padding-top: 4rem;
    }

    .btn {
      @include button();
      margin-left: 7rem;
      margin-top: 1rem;
    }
  }

  .photo {
    height: 669px;
  }
}

@media (max-width: 792px) {
  .landing {
    color: map.get($colors, font-color);
    padding: 15vh 0 10vh 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

    &_text {
      &--header {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
        line-height: 2.2rem;
      }

      &--paragraph {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.2rem;
      }

      .paragraph-two {
        padding-top: 2rem;
      }

      .btn {
        @include mobileButton;
        margin: .7rem 0 0 0;
      }
    }

    .photo {
      display: none;
    }
  }
}
