.oral {
  padding: 0 300px 75px 300px;

  &_header {
    @include header;
  }

  &_list {
    @include circle;
  }
}

@media (max-width: 792px) {
  .oral {
    padding: 0 0 3vh 0;

    &_header {
      @include mobileHeader;
    }

    &_list {
      @include mobileCircle;
    }
  }
}

@media (min-width: 792px) and (max-width: 1100px) {
  .oral {
    padding: 0 130px 75px 130px;

    &_header {
      @include header;
      font-size: 1.7rem
    }

    &_list {
      @include tabletCircle;
    }
  }
}