.written {
  padding: 90px 130px 0 130px;

  &_header {
    @include header;
  }

  &_list {
    @include circle;
  }
}

@media (max-width: 792px) {
  .written {
    padding: 10vh 0 0 0;

    &_header {
      @include mobileHeader;
    }

    &_list {
      @include mobileCircle;
    }
  }
}

@media (min-width: 792px) and (max-width: 1100px) {
  .written {
      &_header {
        @include header;
        font-size: 1.7rem
      }
  
      &_list {
        @include tabletCircle;
      }
    }
}